@import URL("/packages/bootstrap_scss/scss/bootstrap.css");
@import url("/packages/apt/src/scss/main.css");

// @import "../lib/src/scss/fullcalendar.scss";
// @import  URL("/assets/demo/demo.css" );
@import  URL("/static/scss/custom.css" );
@import  URL("/static/scss/calendar.css" );


body{
    background-color: purple;
}
.col{
    background-color: purple;
}